#out_color{position:absolute; top:40px; width:70px; height:40px; border:1px dashed black; }
#old_color {position:absolute; top:0px; width:70px; height:40px; border:1px dashed black; }
#phonColor {position:absolute; top:0px; width:70px; height:80px; background-color: white;}
#out_color_text {position:absolute; top:85px; width:70px; height:20px; }
#out_color_ok {position:absolute; top:110px; width:70px; height:20px; cursor: pointer; border:1px solid black; text-align: center;}
#out_color_cancel {position:absolute; top:135px; width:70px; height:20px; cursor: pointer; border:1px solid black; text-align: center;}
.picker{position:absolute; width:240px;}
#block_picker{background-color:red; height:180px; width:180px; user-select: none; -webkit-user-select: none; }
#block_picker img {width:180px;}
#line {position: absolute; left:200px; cursor: pointer; -moz-user-select: none; -khtml-user-select: none; user-select: none; -webkit-user-select: none; }

.right_arrow {width:0; height:0; left:23px; position:absolute; border-bottom:6px solid transparent; border-left:10px solid transparent; 
              border-top:6px solid transparent; border-right:10px solid black; }
.left_arrow {width:0; height:0; position:absolute; border-bottom:6px solid transparent; border-left:10px solid black; 
             border-top:6px solid transparent; border-right:8px solid transparent;}
#arrows {position:absolute; top:0; margin-top:-4px; left:-11px; width:40px; cursor: pointer; -moz-user-select: none;
         -khtml-user-select: none; user-select: none; -webkit-user-select: none; }
#circle {width:8px; height:8px; border:1px solid black; border-radius:50%; position:absolute; left:170px; top:0px; cursor: default;
         -moz-user-select: none; -khtml-user-select: none; user-select: none; -webkit-user-select: none;}
.square {position:absolute; top:30%; left:70%; height:30px; }
.square input {width:80px; height:25px;}
.cO {width:20px; height:19px; background-color:white; float:right; border-radius:0 10px 10px 0;}

#presetColor {position: absolute; right: 0px; top: 240px; width: 230px; height: 175px; background-color: white;}
#listColorView {position: absolute; lrft: 0px; top: 0px; width: 248px; height: 415px; overflow-y: auto;}
.oneColor {height: 20px; width: 50px; margin-left: 5px; float: left}
.nameColor {height: 20px; width: 150px; margin-left: 5px; float: left}
#alphaGrad {position: absolute; right: 10px; top: 210px; width: 310px; height: 10px;  outline: 1px solid black;}
#alphaColor {position: absolute; right: 10px; top: 192px; width: 310px;}
#alpha_pos {position: absolute; right: 16px; top: 212px; width: 310px;
            -moz-user-select: none; -khtml-user-select: none; user-select: none; -webkit-user-select: none;}
#alpha_arrow {width:0; height:0; position:absolute; border-right:6px solid transparent; border-bottom:10px solid black;
            border-left:6px solid transparent; border-top:8px solid transparent; cursor: pointer}
.rowListColor {margin-top: 5px; clear: both; float: left}