<div style="height: 44px;margin-top: 12px">
    <div style="width: 50%;float: left">
        <div style="float: left">
            <div class="text_style_ui">Width</div>
            <input class="input_style_ui" id="el_w_input" type="text" maxlength="4" size="10" style="width: 50px">
        </div>
        <div style="float: left;margin-top: 15px;height: 20px;margin-left: 10px">
            <div  id="el_w_match" class="match_wrap">Match</div>
        </div>
        <div style="float: left;margin-top: 15px;height: 20px;margin-left: 10px">
            <div id="el_w_wrap" class="match_wrap">Wrap</div>
        </div>
    </div>
    <div style="width: 50%;float: left">
        <div style="float: left">
            <div class="text_style_ui">Height</div>
            <input class="input_style_ui" id="el_h_input" type="text" maxlength="4" size="10" style="width: 50px">
        </div>
        <div style="float: left;margin-top: 15px;height: 20px;margin-left: 10px">
            <div id="el_h_match" class="match_wrap">Match</div>
        </div>
        <div style="float: left;margin-top: 15px;height: 20px;margin-left: 10px">
            <div  id="el_h_wrap" class="match_wrap">Wrap</div>
        </div>
    </div>
</div>

<div style="float: left;clear: both;width: 100%;margin-top: 12px">
    <div style="width: 50%;float: left">
        <div class="text_style_ui">Layout gravity</div>
        <div id="gravLayoutH" style="float: left;clear: both;">
            <img class="grav" onclick="gravLayoutHorisontal(this, 0)" width="18" height="18" style="float: left;" src="img/align-left.png">
            <img class="grav" onclick="gravLayoutHorisontal(this, 1)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-center.png">
            <img class="grav" onclick="gravLayoutHorisontal(this, 2)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-right.png">
        </div>
        <div id="gravLayoutV" style="margin-top: 5px;float: left;clear: both;">
            <img class="grav" onclick="gravLayoutVertical(this, 0)" width="18" height="18" style="float: left;" src="img/align-top.png">
            <img class="grav" onclick="gravLayoutVertical(this, 1)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-middle.png">
            <img class="grav" onclick="gravLayoutVertical(this, 2)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-bottom.png">
        </div>
    </div>
    <div style=";width: 50%;float: left">
        <div class="text_style_ui">Gravity</div>
        <div id="gravityH" style="float: left;clear: both;">
            <img class="grav" onclick="gravHorisontal(this, 0)" width="18" height="18" style="float: left;" src="img/align-left.png">
            <img class="grav" onclick="gravHorisontal(this, 1)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-center.png">
            <img class="grav" onclick="gravHorisontal(this, 2)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-right.png">
        </div>
        <div id="gravityV" style="margin-top: 5px;float: left;clear: both;">
            <img class="grav" onclick="gravVertical(this, 0)" width="18" height="18" style="float: left;" src="img/align-top.png">
            <img class="grav" onclick="gravVertical(this, 1)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-middle.png">
            <img class="grav" onclick="gravVertical(this, 2)" width="18" height="18" style="float: left;margin-left: 24px" src="img/align-bottom.png">
        </div>
    </div>
</div>
<div style="width: 100%;height: 80px;float: left;clear: both;margin-top: 16px;border-top: 1px solid #1DACEf;border-bottom: 1px solid #1DACEf;">
        <div style="width: 100%;float: left;margin-top: 8px;">
            <div style="float: left;color: #8199A5">Background</div> 
            <div onclick="backgroundClear(this)" style="float: right;color: #1DACE9;font-size: 10px;cursor: pointer">Clear</div>
        </div>
        <div onclick="setPickerColor()" style="cursor: pointer; margin-top: 5px;float: left">
            <div class="text_style_ui">Color</div> 
            <div id="bg_color" style="width: 30px; height: 30px; float: left; border: 1px solid #bbd4ef;border-radius:5px;"></div>
        </div>
        <div style="cursor: pointer; margin-top: 5px;margin-left: 10px;float: left;">
            <div class="text_style_ui">Drawable</div> 
            <div onclick="chooseDrawable()" style="width: 60px; height: 30px; float: left; border: 1px solid #bbd4ef;border-radius:5px;background: #1DACE9">
                <div style="color: #fff;text-align: center;margin-top: 6px">choose</div>
            </div>
            <div onclick="editDrawable()" style="width: 70px; height: 30px; float: left;margin-left: 10px;border: 1px solid #bbd4ef;border-radius:5px;background: #1DACE9">
                <div style="color: #fff;text-align: center;margin-top: 6px">edit/new</div>
            </div>
        </div>
        <div onclick="setSelectorBg()" style="cursor: pointer; margin-top: 5px;margin-left: 10px;float: left">
            <div class="text_style_ui">Selector</div> 
            <div style="width: 50px; height: 30px; float: left; border: 1px solid #bbd4ef;border-radius:5px;"></div>
        </div>
</div>
