<div style="padding-left:5px;">
    <div class="el_width" style="display: inline-block">
            <div style="width: 45px">width: </div>
            <div id="el_w_match" style="cursor: pointer">match</div><div id="el_w_wrap" style="cursor: pointer">wrap</div>
            <input id="el_w_input" type="text" size="4"/>
    </div>
    <div class="el_height" style="display: inline-block">
            <div style="width: 45px">height: </div>
            <div id="el_h_match" style="cursor: pointer">match</div><div id="el_h_wrap" style="cursor: pointer">wrap</div>
            <input id="el_h_input" type="text" size="4"/>
    </div>
    <div style="margin-left: 5px; margin-top: 10px">layout gravity</div>
    <div id="gravLayoutH" style="margin-left: 5px; margin-right: 20px; float: left">
        <img class="grav" onclick="gravLayoutHorisontal(this, 0)" src="img/left.png">
        <img class="grav" onclick="gravLayoutHorisontal(this, 1)" src="img/center_h.png">
        <img class="grav" onclick="gravLayoutHorisontal(this, 2)" src="img/right.png">
    </div>
    <div id="gravLayoutV">
        <img class="grav" onclick="gravLayoutVertical(this, 0)" src="img/top.png">
        <img class="grav" onclick="gravLayoutVertical(this, 1)" src="img/center_v.png">
        <img class="grav" onclick="gravLayoutVertical(this, 2)" src="img/bottom.png">
    </div>
    
    <div style="margin-left: 5px; margin-top: 5px">gravity</div>
    <div id="gravityH" style="margin-left: 5px; margin-right: 20px; float: left">
        <img class="grav" onclick="gravHorisontal(this, 0)" src="img/left.png">
        <img class="grav" onclick="gravHorisontal(this, 1)" src="img/center_h.png">
        <img class="grav" onclick="gravHorisontal(this, 2)" src="img/right.png">
    </div>
    <div id="gravityV">
        <img class="grav" onclick="gravVertical(this, 0)" src="img/top.png">
        <img class="grav" onclick="gravVertical(this, 1)" src="img/center_v.png">
        <img class="grav" onclick="gravVertical(this, 2)" src="img/bottom.png">
    </div>
    
    <div style="clear: both;margin-left: 10px; margin-top: 5px;cursor:pointer">
        <div style="float:left;width:75px;">below</div>
        <div id="belowParam" class="relativePos" style="float:left;margin-left: 5px;"></div>
    </div>
    
    <div style="clear: both;margin-left: 10px; margin-top: 5px;cursor:pointer">
        <div style="float:left;width:75px;">above</div>
        <div id="aboveParam" class="relativePos" style="float:left;margin-left: 5px;"></div>
    </div>
    
    <div style="clear: both;margin-left: 10px; margin-top: 5px;cursor:pointer">
        <div style="float:left;width:75px;">toRightOf</div>
        <div id="toRightOfParam" class="relativePos" style="float:left;margin-left: 5px;"></div>
    </div>
    
    <div style="clear: both;margin-left: 10px; margin-top: 5px;cursor:pointer">
        <div style="float:left;width:75px;">toLeftOf</div>
        <div id="toLeftOfParam" class="relativePos" style="float:left;margin-left: 5px;"></div>
    </div>

    <div style="clear: both;margin-left: 5px; margin-top: 30px">
        <div style="float: left; margin-left: 5px; margin-right: 5px;">Background</div> 
        <img class="cross" width="18" height="18" onclick="backgroundClear(this)" src="img/cross.png">
    </div>

    <div style="border: 1px solid #ddd; height: 90px; margin-left: 5px; width: 210px">
        <div onclick="setPickerColor()" style="cursor: pointer; margin-top: 5px;">
            <div style="float: left; margin-left: 5px; margin-right: 5px; width: 75px;">Color :</div> 
            <div id="bg_color" style="width: 30px; height: 20px; float: left; border: 1px solid #ccc"></div>
        </div>
        <div style="clear: both; float: left; cursor: pointer; margin-top: 5px">
            <div style="float: left; margin-left: 5px; margin-right: 5px; width: 75px;">Drawable :</div>
            <div onclick="chooseDrawable()" style="float: left; margin-left: 5px; margin-right: 5px;">choose</div>
            <div onclick="editDrawable()" style="float: left; margin-left: 5px; margin-right: 5px;">edit\new</div>
        </div>
        <div onclick="setSelectorBg()" style="clear: both; float: left; cursor: pointer; margin-top: 5px">
            <div style="float: left; margin-left: 5px; margin-right: 5px; width: 75px;">Selector :</div> 
            <div id="bg_selector" style="width: 50px; height: 30px; float: left; border: 1px solid #ccc"></div>
        </div>
    </div>
    <br>
    <div id="margin_block" style="display: inline-block; float: left">
        <div style="display: inline-block; float: left">
            <div class="marg_pad">margin:</div>
            <div onclick="setMargin(this)" class="el_marg_pad">12</div>
            <div onclick="setMargin(this)" class="el_marg_pad">16</div>
            <div onclick="setMargin(this)" class="el_marg_pad">24</div>
            <div onclick="setMargin(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputMarg(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="margClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">L:</div>
            <div onclick="setMargin(this)" class="el_marg_pad">12</div>
            <div onclick="setMargin(this)" class="el_marg_pad">16</div>
            <div onclick="setMargin(this)" class="el_marg_pad">24</div>
            <div onclick="setMargin(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputMarg(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="margClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">T:</div>
            <div onclick="setMargin(this)" class="el_marg_pad">12</div>
            <div onclick="setMargin(this)" class="el_marg_pad">16</div>
            <div onclick="setMargin(this)" class="el_marg_pad">24</div>
            <div onclick="setMargin(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputMarg(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="margClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">R:</div>
            <div onclick="setMargin(this)" class="el_marg_pad">12</div>
            <div onclick="setMargin(this)" class="el_marg_pad">16</div>
            <div onclick="setMargin(this)" class="el_marg_pad">24</div>
            <div onclick="setMargin(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputMarg(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="margClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">B:</div>
            <div onclick="setMargin(this)" class="el_marg_pad">12</div>
            <div onclick="setMargin(this)" class="el_marg_pad">16</div>
            <div onclick="setMargin(this)" class="el_marg_pad">24</div>
            <div onclick="setMargin(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputMarg(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="margClear(this)" src="img/cross.png">
        </div>
    </div>
        
    <div id="padding_block" style="display: inline-block">
        <div>
            <div class="marg_pad">padding:</div>
            <div onclick="setPadding(this)" class="el_marg_pad">12</div>
            <div onclick="setPadding(this)" class="el_marg_pad">16</div>
            <div onclick="setPadding(this)" class="el_marg_pad">24</div>
            <div onclick="setPadding(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputPad(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="padClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">L:</div>
            <div onclick="setPadding(this)" class="el_marg_pad">12</div>
            <div onclick="setPadding(this)" class="el_marg_pad">16</div>
            <div onclick="setPadding(this)" class="el_marg_pad">24</div>
            <div onclick="setPadding(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputPad(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="padClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">T:</div>
            <div onclick="setPadding(this)" class="el_marg_pad">12</div>
            <div onclick="setPadding(this)" class="el_marg_pad">16</div>
            <div onclick="setPadding(this)" class="el_marg_pad">24</div>
            <div onclick="setPadding(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputPad(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="padClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">R:</div>
            <div onclick="setPadding(this)" class="el_marg_pad">12</div>
            <div onclick="setPadding(this)" class="el_marg_pad">16</div>
            <div onclick="setPadding(this)" class="el_marg_pad">24</div>
            <div onclick="setPadding(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputPad(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="padClear(this)" src="img/cross.png">
        </div>
        <div style="display: inline-block">
            <div class="marg_pad">B:</div>
            <div onclick="setPadding(this)" class="el_marg_pad">12</div>
            <div onclick="setPadding(this)" class="el_marg_pad">16</div>
            <div onclick="setPadding(this)" class="el_marg_pad">24</div>
            <div onclick="setPadding(this)" class="el_marg_pad">32</div>
            <input onkeydown="inputPad(event, this)" style="width: 25px; margin-left: 5px" type="text" size="3"/>
            <img class="cross" width="18" height="18" onclick="padClear(this)" src="img/cross.png">
        </div>
    </div>
    <label style="margin-left: 5px; vertical-align:center;">visibility:<input id="visibility" onchange="checkVisibility(this);" type="checkbox" style="vertical-align:middle;"></label>
</div>
<div id="contentBlock" style="padding-left: 5px">
    <div id="contentText">
        <textarea id="text_text_value" style="margin-top: 5px; display: inline-block;resize: both" placeholder="Введи текст" 
                  onKeyUp="inputTextValue(event, this)" rows="5" cols="25"></textarea>
        
        <label>Form string resource:<input id="check_form_string" onchange = 'checkFormResourse(this);' type="checkbox"></label>

        <div id="textSizePar" style="display: inline-block; margin-top: 10px">
            <div style="width: 40px; float: left; ">Size:</div>
            <div onclick="setTextSize(this)" class="el_marg_pad">10</div>
            <div onclick="setTextSize(this)" class="el_marg_pad">12</div>
            <div onclick="setTextSize(this)" class="el_marg_pad">14</div>
            <div onclick="setTextSize(this)" class="el_marg_pad">18</div>
            <div onclick="setTextSize(this)" class="el_marg_pad">24</div>
            <div onclick="setTextSize(this)" class="el_marg_pad">32</div>
            <input id="textSize" type="number" min="6" max="72" onchange="changeTextSize(this)" style="width: 40px; margin-left: 5px">
        </div>
        <div onclick="setPickerTextColor()" style="cursor: pointer">
            <div style="float: left; width: 40px; ">Color:</div>
            <div id="text_color" style="width: 30px; height: 20px; float: left; border: 1px solid #ccc; margin-left: 10px"></div>
        </div>
    </div>
    <div id="contentEditText">
        <textarea id="edit_text_value" style="margin-top: 5px; display: inline-block;" placeholder="Введи текст" 
                  onKeyUp="inputTextValue(event, this)" rows="5" cols="25"></textarea>

        <div id="textEditSizePar" style="display: inline-block; margin-top: 10px">
            <div style="width: 40px; float: left; ">Size:</div>
            <div onclick="setEditTextSize(this)" class="el_marg_pad">10</div>
            <div onclick="setEditTextSize(this)" class="el_marg_pad">12</div>
            <div onclick="setEditTextSize(this)" class="el_marg_pad">14</div>
            <div onclick="setEditTextSize(this)" class="el_marg_pad">18</div>
            <div onclick="setEditTextSize(this)" class="el_marg_pad">24</div>
            <div onclick="setEditTextSize(this)" class="el_marg_pad">32</div>
            <input id="editTextSize" type="number" min="6" max="72" onchange="changeTextSize(this)" style="width: 40px; margin-left: 5px">
        </div>
        <div onclick="setPickerEditTextColor()" style="cursor: pointer">
            <div style="float: left; width: 40px; ">Color:</div>
            <div id="edittext_color" style="width: 30px; height: 20px; float: left; border: 1px solid #ccc; margin-left: 10px"></div>
        </div>
    </div>
    <div id="contentImg">
        <div onclick="setSRC()" style="margin-top: 5px; display: inline-block; cursor: pointer">
                <div style="width: 40px; text-align: right;float: left;">src:</div>
                <div id="nameSRC" style="width: 190px;float: left;margin-left:5px;"></div>
        </div>
        <label>View image:<input id="check_form_img" onchange = 'checkFormResourse(this);' type="checkbox"></label>
        <div style="margin-top: 5px; display: inline-block;">
                <div style="width: 70px; text-align: right;float: left;">ScaleType:</div>
                <select class="scale_type" onchange="changeScaleType(this)"><option>centerCrop</option><option>center</option></select>
        </div>
    </div>
    <div id="contentTool">

        <div id="textSizePar" style="display: inline-block; margin-top: 10px">
            <div style="width: 40px; float: left; ">Size:</div>
            <div onclick="setToolTextSize(this)" class="el_marg_pad">10</div>
            <div onclick="setToolTextSize(this)" class="el_marg_pad">12</div>
            <div onclick="setToolTextSize(this)" class="el_marg_pad">14</div>
            <div onclick="setToolTextSize(this)" class="el_marg_pad">18</div>
            <div onclick="setToolTextSize(this)" class="el_marg_pad">24</div>
            <div onclick="setToolTextSize(this)" class="el_marg_pad">32</div>
            <input id="textSize" type="number" min="6" max="72" onchange="changeToolTextSize(this)" style="width: 40px; margin-left: 5px">
        </div>
        <div onclick="setPickerToolTextColor()" style="cursor: pointer">
            <div style="float: left; width: 40px; ">Color:</div>
            <div id="tool_text_color" style="width: 30px; height: 20px; float: left; border: 1px solid #ccc; margin-left: 10px"></div>
        </div>
    </div>
    <div id="contentOthers"></div>
</div>